html{
    width: auto;
    height: auto;
}
.dkdn{
        width: 661px;
        height: 25px;
}
.dkdn>a{
    width: 81px;
    height: 35px;
    border: 0px;
}
.dangnhap_2{
    width: 120px;
    height: 30px;
    border: 0px;
    background-color: #fff;
    color: #551a8b;
    font-size: 20px;
}
.dangky_2{
    width: 120px;
    height: 30px;
    border: 0px;
    background-color: #fff;
    color: #551a8b;
    font-size: 20px;
}
form{
    border: 0px;

}
.checkdongy{
    width: 664px;
    height: 22px;
}
.checkdongy>div{
    padding-left: 25px;
}
.checkdongy>input{
    position: absolute;
}
.hinhdk{
    position: absolute;
    top: 20px;
    right: 10px;
}